.vscode/**
.vscode-test/**
node_modules/**
src/**
out/test/**
.gitignore
.yarnrc
.github/**
esbuild.js
vsc-extension-quickstart.md
default-readme.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
yarn.lock
package-lock.json
.DS_Store
scripts/**
images/icon.svg
images/icon-simple.svg
